<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="errors" xsi:type="File" fileName="C:\Logs\Errors\Scutum - ${shortdate}.log" layout="
-------------- ${level:uppercase=true} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
    <target name="traces" xsi:type="File" fileName="C:\Logs\Traces\Scutum - ${shortdate}.log" layout="
-------------- ${longdate} --------------${newline}
${message}${newline}" />
    <target name="warns" xsi:type="File" fileName="C:\Logs\Warns\Scutum - ${shortdate}.log" layout="
-------------- ${longdate} --------------${newline}
${message}${newline}" />
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="errors" />
    <logger name="*" level="Trace" writeTo="traces" />
    <logger name="*" level="Warn" writeTo="warns" />
  </rules>
</nlog>